body {
    margin: 0;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    background: linear-gradient(to bottom, #80CBC4, #FFFFFF);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-flow: column nowrap;
}

.headerc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    margin-top: 30px;
}

img {
    width: 100px;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: larger;
}

.mainc {
    margin-top: 50px;
}

main {
    text-align: center;
    color: white;
    font-size: x-large;
}

.pcimg {
    margin-top: 50px;
}

.devices {
    width: 900px;
}

.cta {
    margin-top: 15px;
}

.get {
    margin-top: 0px;
    background-color: #35BFA4;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border: 1px solid;
    color:white;
    font-size: large;
    border: 0px;
    box-shadow: 0px 0px 5px #000;
}

.get:hover{
    background-color: #32b49a;
    cursor: pointer;
}

.container1 {
    margin-top: 10px;
    width: 100%;
    height: 720px;
    display: flex;
    flex-flow: row wrap;
}

.c1 {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    padding: 50px;
    margin-left: 50px;
    text-align: justify;
}

.c1-1 {
    flex: 1;
    text-align: center;
    font-size: large;
    margin-top: 100px;
}

.c1-2 {
    display: flex;
    flex-flow: row nowrap;
    flex: 5;
    align-self: flex-end;
    font-size: medium;
}

.c-1-2-1 {
    flex: 1;
}

.c-1-2-2 {
    flex: 1;
}

.c2 {
    flex: 1;
    padding: 50px;
    padding-top: 0;
    margin-right: 50px;
}

.neofetch {
    width: 100%;
}

li {
    color:#35BFA4;
}

h3 {
    color: #000;
}

.desc {
    color: #000;
}

footer {
    text-align: center;
    padding-bottom: 3px;
    background: linear-gradient(to top, #dde2e2, #FFFFFF);
}

.sponsorlink {
    color: #35BFA4;
    font-size: medium;
    margin: 0;
}
